{% extends 'base.html' %} {% block content %}

<div>
  <form
    method="POST"
    class="buttons flex flex-col justify-center items-center w-full"
  >
    <div class="flex flex-row gap-7 justify-center w-full">
      <button
        type="submit"
        name="back"
        class="bg-yellow-500 py-1 px-2 rounded-lg text-base font-bold"
      >
        Back
      </button>
    </div>
  </form>
</div>

<h1 class="text-5xl font-extrabold mb-2">Chit Chat</h1>
<h2 class="text-2xl font-bold mb-4">'{{code}}' Room</h2>

<div
  class="bg-gray-300 border-black border-4 rounded-lg h-4/6 w-5/6 flex flex-col items-stretch"
>
  <div class="overflow-scroll flex-1 w-full" id="messages"></div>
  <form
    onSubmit="sendMessage(event)"
    class="p-2 flex gap-3 flex justify-center items-center mt-1 bg-stone-300"
  >
    <input
      type="text"
      rows="3"
      placeholder="Message"
      name="message"
      id="message"
      class="py-1 px-2 rounded-md border-yellow-500 border-2 w-52 md:w-full"
      autofocus
    />
    <button
      type="submit"
      name="send"
      id="send-btn"
      class="bg-yellow-500 py-1 px-2 rounded-lg text-base font-bold"
    >
      Send
    </button>
  </form>
  <a href="/" class="mt-4 text-blue-500 underline">Back to Home</a>
</div>
<script type="text/javascript">
  const socketio = io();

  const messages = document.getElementById("messages");

  const createMessage = (name, msg) => {
    const content = `
    <div class="flex flex-row justify-between items-center px-2 pt-4 overflow-auto text-sm">
      <span>
        <strong>${name}</strong>: ${msg}
      </span>
      <span class="text-xs text-gray-500 w-1/6">
        ${new Date().toLocaleString()}
      </span>
    </div>
  `;
    messages.innerHTML += content;
    scrollToBottom();
  };

  socketio.on("message", (data) => {
    createMessage(data.name, data.message);
  });

  const sendMessage = (e) => {
    e.preventDefault();
    const message = document.getElementById("message");
    if (message.value === "" || message.value === " ") return;
    socketio.emit("message", { data: message.value });
    message.value = "";
    setTimeout(scrollToBottom, 100); // Delay to ensure message is rendered before scrolling
  };

  const scrollToBottom = () => {
    messages.scrollTo({ top: messages.scrollHeight, behavior: "smooth" });
  };

  window.addEventListener("load", scrollToBottom);

  messages.addEventListener("scroll", () => {
    const scrollOffset = messages.scrollHeight - messages.scrollTop;
    const containerHeight = messages.clientHeight;
    const scrollDifference = scrollOffset - containerHeight;
    if (scrollDifference < 5) {
      scrollToBottom();
    }
  });
</script>

{% for msg in messages %}
<script type="text/javascript">
  createMessage("{{msg.name}}", "{{msg.message}}");
</script>
{% endfor %} {% endblock %}
