{% extends 'base.html' %} {% block content %}
<a
  href="/"
  class="absolute top-5 start-5 bg-red-500 py-1 px-2 rounded-lg text-base pb-0"
  ><ion-icon name="arrow-back-outline"></ion-icon>
</a>

<h1 class="text-5xl font-extrabold mb-2">Chit Chat</h1>
<h2 class="text-2xl font-bold mb-4">'{{code}}' Room</h2>

<div
  class="bg-gray-300 border-black border-4 rounded-lg h-4/6 w-5/6 flex flex-col items-stretch"
>
  <div class="overflow-scroll flex-1 w-full" id="messages"></div>
  <form
    onSubmit="sendMessage(event)"
    class="p-2 flex gap-3 flex justify-center items-center mt-1 bg-stone-300 overflow-auto"
  >
    <input
      type="text"
      rows="3"
      placeholder="Message"
      name="message"
      id="message"
      class="py-1 px-2 rounded-md border-yellow-500 border-2 w-52 md:w-full"
      autofocus
    />
    <button
      type="submit"
      name="send"
      id="send-btn"
      class="bg-yellow-500 py-1 px-2 rounded-lg text-base font-bold"
    >
      Send
    </button>
  </form>
</div>

{% for msg in messages %}
<script type="text/javascript">
  createMessage("{{msg.name}}", "{{msg.message}}");
</script>
{% endfor %} {% endblock %}
